<header ng-controller="MainCtrl" class="col-xs-12">
  <div class="info col-xs-12 col-sm-6">
    <h1>
      Kiran Patel - President Broker<br>
      Orlando, FL.
    </h1>
    <address>
      7087 Grand National drive, Suite 101, Orlando, Florida 32819
    </address>
    <p>Florida Real Estate Broker | Florida Hospitality | Florida Hotel/Motel Broker</p>
  </div>
  <div class="banner col-xs-12 col-sm-6">
    <ul class="contact">
      <li>Contact Information</li>
      <li>Phone: (407)354-2121</li>
      <li>Mobile: (407)797-1000</li>
      <li>Fax: (407)354-2141</li>
      <li>Email: Kiran@sonacoinc.com</li>
    </ul>
  </div>
  <p class="statement col-xs-12"><span class="col-xs-12">Hotels for Sale in Orlando | Motels for sale in Orlando | Florida hotels sale | Florida motels sale | Florida Motels | Florida Hotels | Real Estate Broker<span></p>
</header>
